/* large devices (desktops, less than 1400px) */
@media (max-width: 1399.98px) {
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  .container-inside {
    max-width: 960px;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .container-inside {
    max-width: 720px;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .container-inside {
    max-width: 540px;
  }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container-inside {
    max-width: 100%;
  }
}
